* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../image/bg_login.jpg');
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.wrapper {
    position: fixed;
    left: 50%;
    transform: translateX(-50%) scale(0);
    top: 80px;
    z-index: 2000;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .25s ease, height .2s ease;
    background-color: aliceblue;
    opacity: 90%;
}

.wrapper.active-popup {
    transform: translateX(-50%) scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translate(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 30px 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.role-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.role-options input[type="radio"] {
    display: none;
}

.role-options label {
    flex: 1;
    text-align: center;
    padding: 6px 0;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 530;
}

.role-options input[type="radio"]:checked+label {
    background: black;
    color: white;
}

.btn {
    width: 100%;
    height: 45px;
    background: black;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    z-index: 1;

}

.dropdown {
    position: relative;
}
 
@media (max-width: 480px) {

    .wrapper {
        width: 90%;
        max-width: 350px;
        top: 50px;
        border-radius: 15px;
        transform: translateX(-50%) scale(0);
    }
 
    .wrapper .form-box {
        padding: 25px;
    }
 
    .form-box h2 {
        font-size: 1.8em;
    }
 
    .input-box {
        margin: 20px 0;
    }

    .input-box input,
    .input-box .icon,
    .input-box label {
        font-size: 0.95em;
    }

    .remember-forgot {
        font-size: 0.8em;
    }

  .role-options label {
        padding: 5px 0;
        font-size: 0.85em;
    }

    .wrapper .icon-close {
        width: 35px;
        height: 35px;
        font-size: 1.5em;
    }
 
    .wrapper.active .form-box.login {
        transform: translateX(-90vw);
    }

    .wrapper .form-box.register {
        transform: translate(90vw);
    }
}